<h3>Практическое задание12: HttpClient</h3>

<section class="raised-button">
  <div class="button-wrapper">
      <button mat-raised-button (click)="getUsers()">Кнопка 1</button>
      <button mat-raised-button (click)="getComment()">Кнопка 2</button>
      <button mat-raised-button (click)="PostBody()">Кнопка 3</button>
      <button mat-raised-button (click)="GetErrorEvent()">Кнопка 4</button>
      <button mat-raised-button (click)="Headers()">Кнопка 5</button>
      <button mat-raised-button (click)="Delete()">Кнопка 6</button>
  </div>
 
</section>
